# Variables
REMOTE_NAME="MyRemote"  # Nom de votre remote rclone

LOCAL_DIR_ROOT="/path/to/local/directory"
REMOTE_DIR_ROOT="$REMOTE_NAME:/path/to/remote/directory"

DIR_LOCAL_NAME=""
DIR_REMOTE_NAME=""

LOCAL_DIR="$LOCAL_DIR_ROOT/$DIR_LOCAL_NAME"
REMOTE_DIR="$REMOTE_DIR_ROOT/$DIR_REMOTE_NAME"

CONFIG_PATH="/home/username/.config/rclone/rclone.conf"

REMOTE_CHECK_INTERVAL=60  # Vérification des modifications en ligne (en secondes)
RETRY_INTERNET_INTERVAL=60
DELAY_RESTART_TRIGGER_CHANGES_LOCAL=2
DELAY_RESTART_TRIGGER_CHANGES_REMOTE=2
DELAY_RESTART_NEW_INOTIFY=5

SYNC_DELAY=4
