# Variables

REMOTE_NAME="$TMP_DIR"

LOCAL_DIR_ROOT="$TMP_DIR"
REMOTE_DIR_ROOT="$REMOTE_NAME"

DIR_LOCAL_NAME="local_test_scenario"
DIR_REMOTE_NAME="remote_test_scenario"

LOCAL_DIR="$LOCAL_DIR_ROOT/$DIR_LOCAL_NAME"
REMOTE_DIR="$REMOTE_DIR_ROOT/$DIR_REMOTE_NAME"

CONFIG_PATH="/home/username/.config/rclone/rclone.conf"

REMOTE_CHECK_INTERVAL=60  # Vérification des modifications en ligne (en secondes)
RETRY_INTERNET_INTERVAL=60
DELAY_RESTART_TRIGGER_CHANGES_LOCAL=2
DELAY_RESTART_TRIGGER_CHANGES_REMOTE=2
DELAY_RESTART_NEW_INOTIFY=5

SYNC_DELAY=4
