##### ---- Setup Variables ---- ####
SYSTEMD_USER_DIR="$HOME/.config/systemd/user"
INIT_SYNC_LOGSEQ_SERIVCE_JINJA_FILE="init-sync-logseq.service.jinja"
SYNC_LOGSEQ_SERVICE_JINJA_FILE="sync-logseq.service.jinja"

##### ---- sync-logseq Service Variables ---- ####
INIT_SYNC_SCRIPT_NAME=init_sync_logseq.sh
INIT_SYNC_RESTART_SEC=5
INIT_SYNC_START_LIMIT_INTERVAL=30
INIT_SYNC_START_LIMIT_BURST=5


##### ---- sync-logseq Service Variables ---- ####
SYNC_SCRIPT_NAME=sync_logseq.sh
SYNC_RESTART_SEC=5
SYNC_START_LIMIT_INTERVAL=30
SYNC_START_LIMIT_BURST=5


##### ---- sync-logseq Script Variables ---- #####
REMOTE_NAME="MyRemote"  # Nom de votre remote rclone

LOCAL_DIR_ROOT="/path/to/local/directory"
REMOTE_DIR_ROOT="$REMOTE_NAME:/path/to/remote/directory"

DIR_LOCAL_NAME=""
DIR_REMOTE_NAME=""

LOCAL_DIR="$LOCAL_DIR_ROOT/$DIR_LOCAL_NAME"
REMOTE_DIR="$REMOTE_DIR_ROOT/$DIR_REMOTE_NAME"

CONFIG_PATH="/home/username/.config/rclone/rclone.conf"

REMOTE_CHECK_INTERVAL=60  # Vérification des modifications en ligne (en secondes)
RETRY_INTERNET_INTERVAL=60
DELAY_RESTART_TRIGGER_CHANGES_LOCAL=5
DELAY_RESTART_TRIGGER_CHANGES_REMOTE=10
DELAY_RESTART_NEW_INOTIFY=5
SYNC_DELAY=4
